<footer>
    <div>
        <small>We ❤ Open source.</small>
        <small>Tutto il materiale dei nostri autori, salvo apposita segnalazione, é di proprietá degli autori
            linux/hub.</small>
        <small>Questa opera è distribuita con Licenza <a rel="license"
                href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.it"><b>Creative Commons Attribuzione -
                    Non commerciale - Non opere derivate 4.0 Internazionale</b></a></small>
    </div>
    <div>
        <h3>Altro</h3>
        <ul>
            <li>
                <a href="https://t.me/linuxpeople_network">Comunità italiane</a>
            </li>
            <li>
                <a href="https://github.com/linuxhubit/feed.linuxpeople.org">Scrivi un articolo</a>
            </li>
            <li>
                <a target="_blank" href="https://linuxpeople.org/">linuxpeople.org</a>
            </li>
            <li>
                <a target="_blank" href="https://unifiedban.solutions">unified/ban</a>
            </li>
            <li>
                <a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.it"> <img
                        alt="Licenza Creative Commons" style="border-width:0"
                        src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png"></a>
            </li>
        </ul>
    </div>
    <div>
        <h3>Disclaimer</h3>
        <small>linux/hub e linuxpeople, sono progetti non a scopo di lucro, creati a favore dell'Open
            source.</small>
        <small>Facciamo uso di <b>Cookie</b> e raccogliamo dati sulla navigazione a scopo puramente statistico,
            leggi maggiori informazioni <a href="https://feed.linuxpeople.org/privacy-policy">qui</a>.</small>
        <small>Questo portale non rappresenta una testata giornalistica, in quanto viene aggiornato senza alcuna
            periodicità.
            <br>L'oggetto principalmente trattato sono le guide pratiche. Non può, pertanto, considerarsi un
            prodotto editoriale, ai sensi della legge
            <a href="https://www.camera.it/parlam/leggi/01062l.htm" target="_blank">n. 62 del 7/03/2001.</small></a>
        <a target="_blank" href="https://mirko.pm/"><small>a project by <b>mirko.pm</b></small></a><br />
        <a target="_blank" href="https://pages.github.com/"><small>powered by <b>GitHub Pages</b></small></a>
    </div>
</footer>

<script type='text/javascript'>
    var Countly = Countly || {};
    Countly.q = Countly.q || [];

    Countly.app_key = 'd554602dfe232eb93a674379001edb81778e1b90';
    Countly.url = 'https://data.fabricators.ltd';

    Countly.q.push(['track_sessions']);
    Countly.q.push(['track_pageview']);
    Countly.q.push(['track_clicks']);
    Countly.q.push(['track_scrolls']);
    Countly.q.push(['track_errors']);
    Countly.q.push(['track_links']);
    Countly.q.push(['track_forms']);
    Countly.q.push(['collect_from_forms']);

    (function () {
        var cly = document.createElement('script');
        cly.type = 'text/javascript';
        cly.async = true;
        //enter url of script here
        cly.src = 'https://data.fabricators.ltd/sdk/web/countly.min.js';
        cly.onload = function () {
            Countly.init()
        };
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(cly, s);
    })();
</script>
<noscript><img
        src='https://data.fabricators.ltd/pixel.png?app_key=d554602dfe232eb93a674379001edb81778e1b90&begin_session=1' /></noscript>