<header itemscope itemtype="https://schema.org/WebSite">
    <div>
        <meta itemprop="url" content="https://feed.linuxpeople.org/"/>
        <a href="/" title="{{ site.title }}" class="logo">
            <img src="/assets/images/linuxpeople-logo.svg" alt="linuxpeople" />
        </a>
        <form class="search" method="GET" action="search" autocomplete="off" itemprop="potentialAction" itemscope itemtype="https://schema.org/SearchAction">
            <meta itemprop="target" content="https://feed.linuxpeople.org/search?searchword={searchword}" />
            <input itemprop="query-input" type="search" autocomplete="off" name="searchword" spellcheck="false" placeholder="Cerca.." />
            <span class="material-icons"> search </span>
            <input type="submit" name="submit" hidden>
            <div>
                <div></div>
            </div>
        </form>
        <ul class="nav">
        {% for item in site.navigation %}
            <li>
                <a href="{{ item.link }}" class="{% if page.url == item.link %}s{% endif %}">{{ item.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</header>