{% assign post = include.post %}
{% assign date = post.date %}

{% if post.date != false %}

    <article itemscope itemtype="https://schema.org/NewsArticle">
        <meta itemprop="image" content="/assets/images/cover.png" hidden="">
        <h2 itemprop="headline">{{ post.title }}</h2>
        <span class="info">
            <em itemprop="publisher" itemscope itemtype="https://schema.org/Organization" hidden>
                <span itemprop="name">linux/hub</span>
                <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                    <meta itemprop="url" content="https://feed.linuxpeople.org/storage/brand.png" />
                </span>
            </em>
            Scritto da
            <em itemprop="author" itemscope itemtype="https://schema.org/Person">
                <a href="//github.com/{{ post.author_github }}" target="_blank">
                    <span itemprop="name">{{ post.author }}</span>
                </a>
            </em> il
            <em itemprop="datePublished" content="{{ post.date }}">
                <time datetime="{{ post.date | date:'%Y-%m-%d' }}">{{ date | date: "%a, %b %e, %Y" }}</time>
            </em>
        </span>
        <p>{{ post.content | strip_html | truncatewords: 32 }}…</p>
        <div>
            {% for tag in post.tag %}
                {% if tag == "trick" %}
                    <div class="tag {{ tag }}">❇️ Trucco del giorno</div>
                {% else if tag == "cherry" %}
                    <div class="tag {{ tag }}">🍒 Cherry Bin</div>
                {% else if tag == "downloads" %}
                    <div class="tag {{ tag }}">🛍 Consigli per i download</div>
                {% else if tag == "batch" %}
                    <div class="tag {{ tag }}">💠 Finestre Batch</div>
                {% else if tag == "know" %}
                    <div class="tag {{ tag }}">💣 Lo sapevi che</div>
                {% else if tag == "fix" %}
                    <div class="tag {{ tag }}">⚒ How to fix</div>
                {% else %}
                    <div class="tag {{ tag }}">{{ tag }}</div>
                {% endif %}
            {% endfor %}
        </div>
        <a itemprop="url" href="{{ post.url }}" class="read-more">Leggi tutto
            <span class="material-icons"> navigate_next </span>
        </a>
    </article>

{% endif %}