---
layout: default
---

{% assign lght = page.url | size | minus: 1 %}

<div>
    <article itemscope itemtype="https://schema.org/NewsArticle" class="hasSummary">
        <meta itemprop="image" content="https://feed.linuxpeople.org/storage/linuxhub.png" hidden />
        <h1 itemprop="headline">{{ page.title }}</h1>
        <span class="info">
            <em itemprop="publisher" itemscope itemtype="https://schema.org/Organization" hidden>
                <span itemprop="name">linux/hub</span>
                <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                    <meta itemprop="url" content="https://feed.linuxpeople.org/storage/brand.png" />
                </span>
            </em>
            Scritto da
            <em itemprop="author" itemscope itemtype="https://schema.org/Person">
                <a href="//github.com/{{ page.author_github }}" target="_blank">
                    <span itemprop="name">{{ page.author }}</span>
                </a>
            </em> il
            <em itemprop="datePublished" content="{{ page.date }}">
                <time datetime="{{ page.date | date:'%Y-%m-%d' }}">{{ page.date | date: "%a, %b %e, %Y" }}</time>
            </em>
        </span>
        <div class="tags">
            <div class="tag edit">
                <a
                    href="https://github.com/linuxhubit/linuxpeople_feed/blob/main/_posts/{{ page.date | date:'%Y-%m-%d' }}-{{ page.url | truncate: lght,'' | replace: '/posts/', ''}}.md">
                    <span class="material-icons-outlined"> edit </span> 
                    Edit on GitHub</a>
            </div>
            {% if page.tag == "trick" %}
                <div class="tag {{ page.tag }}">❇️ Trucco del giorno</div>
            {% elsif page.tag == "cherry" %}
                <div class="tag {{ page.tag }}">🍒 Cherry Bin</div>
            {% elsif page.tag == "downloads" %}
                <div class="tag {{ page.tag }}">🛍 Consigli per i download</div>
            {% elsif page.tag == "batch" %}
                <div class="tag {{ page.tag }}">💠 Finestre Batch</div>
            {% elsif page.tag == "know" %}
                <div class="tag {{ page.tag }}">💣 Lo sapevi che</div>
            {% elsif page.tag == "fix" %}
                <div class="tag {{ page.tag }}">⚒ How to fix</div>
            {% else %}
                <div class="tag {{ page.tag }}">{{ page.tag }}</div>
            {% endif %}
        </div>
        <div>{{ content }}</div>
    </article>

    <ul class="discuss">
        <li>
            <span class="material-icons-outlined">question_answer</span>
            <div>
                <h2>Community</h2>
                <p>Discuti questo post con la nostra community Telegram.</p>
            </div>
        </li>
        <li>
            <span class="material-icons-outlined">campaign</span>
            <div>
                <h2>Canale</h2>
                <p>Questo e altri post sono nel nostro canale Telegram.</p>
            </div>
        </li>
    </ul>
</div>

<script src="/assets/js/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
